.nav-link {
  cursor: pointer;
}

.home-page {
  position: absolute;
  width: 100%;
  height: 1100px;
}

.loginContainer {
  width: 30%;

  margin-top: 50px;
}
.imageWrapper{
	width: 230px;
	height: 230px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
.btnWrapper{
display: flex;
  justify-content: center;
}
