mat-table {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

.searchWrapper {
  width: 50%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
}
.searchWrapper mat-form-field{
  width: 100%;
}

mat-header-cell {
  color: grey;
}

.mat-row:hover {
  background-color: #5d8ea3;
}

.btn{
margin-bottom: 10px;
}
